QueueApp/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
QueueApp/bin/Debug/netcoreapp3.1/QueueApp.deps.json
QueueApp/bin/Debug/netcoreapp3.1/QueueApp.dll
QueueApp/bin/Debug/netcoreapp3.1/QueueApp.exe
QueueApp/bin/Debug/netcoreapp3.1/QueueApp.pdb
QueueApp/bin/Debug/netcoreapp3.1/QueueApp.runtimeconfig.dev.json
QueueApp/bin/Debug/netcoreapp3.1/QueueApp.runtimeconfig.json
QueueApp/obj/project.assets.json
QueueApp/obj/project.nuget.cache
QueueApp/obj/QueueApp.csproj.nuget.dgspec.json
QueueApp/obj/QueueApp.csproj.nuget.g.props
QueueApp/obj/QueueApp.csproj.nuget.g.targets
QueueApp/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
QueueApp/obj/Debug/netcoreapp3.1/QueueApp.AssemblyInfo.cs
QueueApp/obj/Debug/netcoreapp3.1/QueueApp.AssemblyInfoInputs.cache
QueueApp/obj/Debug/netcoreapp3.1/QueueApp.assets.cache
QueueApp/obj/Debug/netcoreapp3.1/QueueApp.csproj.CopyComplete
QueueApp/obj/Debug/netcoreapp3.1/QueueApp.csproj.CoreCompileInputs.cache
QueueApp/obj/Debug/netcoreapp3.1/QueueApp.csproj.FileListAbsolute.txt
QueueApp/obj/Debug/netcoreapp3.1/QueueApp.csprojAssemblyReference.cache
QueueApp/obj/Debug/netcoreapp3.1/QueueApp.dll
QueueApp/obj/Debug/netcoreapp3.1/QueueApp.exe
QueueApp/obj/Debug/netcoreapp3.1/QueueApp.genruntimeconfig.cache
QueueApp/obj/Debug/netcoreapp3.1/QueueApp.pdb
ServiceBus/sbqueueReceiver/bin/Debug/netcoreapp3.1/Microsoft.Azure.Amqp.dll
ServiceBus/sbqueueReceiver/bin/Debug/netcoreapp3.1/Microsoft.Azure.ServiceBus.dll
ServiceBus/sbqueueReceiver/bin/Debug/netcoreapp3.1/Microsoft.Azure.Services.AppAuthentication.dll
ServiceBus/sbqueueReceiver/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Clients.ActiveDirectory.dll
ServiceBus/sbqueueReceiver/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Clients.ActiveDirectory.Platform.dll
ServiceBus/sbqueueReceiver/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.JsonWebTokens.dll
ServiceBus/sbqueueReceiver/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Logging.dll
ServiceBus/sbqueueReceiver/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Tokens.dll
ServiceBus/sbqueueReceiver/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
ServiceBus/sbqueueReceiver/bin/Debug/netcoreapp3.1/sbqueuereceiver.deps.json
ServiceBus/sbqueueReceiver/bin/Debug/netcoreapp3.1/sbqueuereceiver.dll
ServiceBus/sbqueueReceiver/bin/Debug/netcoreapp3.1/sbqueuereceiver.exe
ServiceBus/sbqueueReceiver/bin/Debug/netcoreapp3.1/sbqueuereceiver.pdb
ServiceBus/sbqueueReceiver/bin/Debug/netcoreapp3.1/sbqueuereceiver.runtimeconfig.dev.json
ServiceBus/sbqueueReceiver/bin/Debug/netcoreapp3.1/sbqueuereceiver.runtimeconfig.json
ServiceBus/sbqueueReceiver/bin/Debug/netcoreapp3.1/System.IdentityModel.Tokens.Jwt.dll
ServiceBus/sbqueueReceiver/obj/project.assets.json
ServiceBus/sbqueueReceiver/obj/project.nuget.cache
ServiceBus/sbqueueReceiver/obj/sbqueuereceiver.csproj.nuget.dgspec.json
ServiceBus/sbqueueReceiver/obj/sbqueuereceiver.csproj.nuget.g.props
ServiceBus/sbqueueReceiver/obj/sbqueuereceiver.csproj.nuget.g.targets
ServiceBus/sbqueueReceiver/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
ServiceBus/sbqueueReceiver/obj/Debug/netcoreapp3.1/sbqueuereceiver.AssemblyInfo.cs
ServiceBus/sbqueueReceiver/obj/Debug/netcoreapp3.1/sbqueuereceiver.AssemblyInfoInputs.cache
ServiceBus/sbqueueReceiver/obj/Debug/netcoreapp3.1/sbqueuereceiver.assets.cache
ServiceBus/sbqueueReceiver/obj/Debug/netcoreapp3.1/sbqueuereceiver.csproj.CopyComplete
ServiceBus/sbqueueReceiver/obj/Debug/netcoreapp3.1/sbqueuereceiver.csproj.CoreCompileInputs.cache
ServiceBus/sbqueueReceiver/obj/Debug/netcoreapp3.1/sbqueuereceiver.csproj.FileListAbsolute.txt
ServiceBus/sbqueueReceiver/obj/Debug/netcoreapp3.1/sbqueuereceiver.csprojAssemblyReference.cache
ServiceBus/sbqueueReceiver/obj/Debug/netcoreapp3.1/sbqueuereceiver.dll
ServiceBus/sbqueueReceiver/obj/Debug/netcoreapp3.1/sbqueuereceiver.exe
ServiceBus/sbqueueReceiver/obj/Debug/netcoreapp3.1/sbqueuereceiver.genruntimeconfig.cache
ServiceBus/sbqueueReceiver/obj/Debug/netcoreapp3.1/sbqueuereceiver.pdb
ServiceBus/sbqueueSender/bin/Debug/netcoreapp3.1/Microsoft.Azure.Amqp.dll
ServiceBus/sbqueueSender/bin/Debug/netcoreapp3.1/Microsoft.Azure.ServiceBus.dll
ServiceBus/sbqueueSender/bin/Debug/netcoreapp3.1/Microsoft.Azure.Services.AppAuthentication.dll
ServiceBus/sbqueueSender/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Clients.ActiveDirectory.dll
ServiceBus/sbqueueSender/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Clients.ActiveDirectory.Platform.dll
ServiceBus/sbqueueSender/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.JsonWebTokens.dll
ServiceBus/sbqueueSender/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Logging.dll
ServiceBus/sbqueueSender/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Tokens.dll
ServiceBus/sbqueueSender/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
ServiceBus/sbqueueSender/bin/Debug/netcoreapp3.1/sbqueue.deps.json
ServiceBus/sbqueueSender/bin/Debug/netcoreapp3.1/sbqueue.dll
ServiceBus/sbqueueSender/bin/Debug/netcoreapp3.1/sbqueue.exe
ServiceBus/sbqueueSender/bin/Debug/netcoreapp3.1/sbqueue.pdb
ServiceBus/sbqueueSender/bin/Debug/netcoreapp3.1/sbqueue.runtimeconfig.dev.json
ServiceBus/sbqueueSender/bin/Debug/netcoreapp3.1/sbqueue.runtimeconfig.json
ServiceBus/sbqueueSender/bin/Debug/netcoreapp3.1/sbqueueSender.deps.json
ServiceBus/sbqueueSender/bin/Debug/netcoreapp3.1/sbqueueSender.dll
ServiceBus/sbqueueSender/bin/Debug/netcoreapp3.1/sbqueueSender.exe
ServiceBus/sbqueueSender/bin/Debug/netcoreapp3.1/sbqueueSender.pdb
ServiceBus/sbqueueSender/bin/Debug/netcoreapp3.1/sbqueueSender.runtimeconfig.dev.json
ServiceBus/sbqueueSender/bin/Debug/netcoreapp3.1/sbqueueSender.runtimeconfig.json
ServiceBus/sbqueueSender/bin/Debug/netcoreapp3.1/System.IdentityModel.Tokens.Jwt.dll
ServiceBus/sbqueueSender/obj/project.assets.json
ServiceBus/sbqueueSender/obj/project.nuget.cache
ServiceBus/sbqueueSender/obj/sbqueue.csproj.nuget.dgspec.json
ServiceBus/sbqueueSender/obj/sbqueue.csproj.nuget.g.props
ServiceBus/sbqueueSender/obj/sbqueue.csproj.nuget.g.targets
ServiceBus/sbqueueSender/obj/sbqueueSender.csproj.nuget.dgspec.json
ServiceBus/sbqueueSender/obj/sbqueueSender.csproj.nuget.g.props
ServiceBus/sbqueueSender/obj/sbqueueSender.csproj.nuget.g.targets
ServiceBus/sbqueueSender/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
ServiceBus/sbqueueSender/obj/Debug/netcoreapp3.1/sbqueue.AssemblyInfo.cs
ServiceBus/sbqueueSender/obj/Debug/netcoreapp3.1/sbqueue.AssemblyInfoInputs.cache
ServiceBus/sbqueueSender/obj/Debug/netcoreapp3.1/sbqueue.assets.cache
ServiceBus/sbqueueSender/obj/Debug/netcoreapp3.1/sbqueue.csproj.CopyComplete
ServiceBus/sbqueueSender/obj/Debug/netcoreapp3.1/sbqueue.csproj.CoreCompileInputs.cache
ServiceBus/sbqueueSender/obj/Debug/netcoreapp3.1/sbqueue.csproj.FileListAbsolute.txt
ServiceBus/sbqueueSender/obj/Debug/netcoreapp3.1/sbqueue.csprojAssemblyReference.cache
ServiceBus/sbqueueSender/obj/Debug/netcoreapp3.1/sbqueue.dll
ServiceBus/sbqueueSender/obj/Debug/netcoreapp3.1/sbqueue.exe
ServiceBus/sbqueueSender/obj/Debug/netcoreapp3.1/sbqueue.genruntimeconfig.cache
ServiceBus/sbqueueSender/obj/Debug/netcoreapp3.1/sbqueue.pdb
ServiceBus/sbqueueSender/obj/Debug/netcoreapp3.1/sbqueueSender.AssemblyInfo.cs
ServiceBus/sbqueueSender/obj/Debug/netcoreapp3.1/sbqueueSender.AssemblyInfoInputs.cache
ServiceBus/sbqueueSender/obj/Debug/netcoreapp3.1/sbqueueSender.assets.cache
ServiceBus/sbqueueSender/obj/Debug/netcoreapp3.1/sbqueueSender.csproj.CopyComplete
ServiceBus/sbqueueSender/obj/Debug/netcoreapp3.1/sbqueueSender.csproj.CoreCompileInputs.cache
ServiceBus/sbqueueSender/obj/Debug/netcoreapp3.1/sbqueueSender.csproj.FileListAbsolute.txt
ServiceBus/sbqueueSender/obj/Debug/netcoreapp3.1/sbqueueSender.csprojAssemblyReference.cache
ServiceBus/sbqueueSender/obj/Debug/netcoreapp3.1/sbqueueSender.dll
ServiceBus/sbqueueSender/obj/Debug/netcoreapp3.1/sbqueueSender.exe
ServiceBus/sbqueueSender/obj/Debug/netcoreapp3.1/sbqueueSender.genruntimeconfig.cache
ServiceBus/sbqueueSender/obj/Debug/netcoreapp3.1/sbqueueSender.pdb
ServiceBus/sbtopicreceiver/bin/Debug/netcoreapp3.1/Microsoft.Azure.Amqp.dll
ServiceBus/sbtopicreceiver/bin/Debug/netcoreapp3.1/Microsoft.Azure.ServiceBus.dll
ServiceBus/sbtopicreceiver/bin/Debug/netcoreapp3.1/Microsoft.Azure.Services.AppAuthentication.dll
ServiceBus/sbtopicreceiver/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Clients.ActiveDirectory.dll
ServiceBus/sbtopicreceiver/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Clients.ActiveDirectory.Platform.dll
ServiceBus/sbtopicreceiver/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.JsonWebTokens.dll
ServiceBus/sbtopicreceiver/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Logging.dll
ServiceBus/sbtopicreceiver/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Tokens.dll
ServiceBus/sbtopicreceiver/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
ServiceBus/sbtopicreceiver/bin/Debug/netcoreapp3.1/sbtopicreceiver.deps.json
ServiceBus/sbtopicreceiver/bin/Debug/netcoreapp3.1/sbtopicreceiver.dll
ServiceBus/sbtopicreceiver/bin/Debug/netcoreapp3.1/sbtopicreceiver.exe
ServiceBus/sbtopicreceiver/bin/Debug/netcoreapp3.1/sbtopicreceiver.pdb
ServiceBus/sbtopicreceiver/bin/Debug/netcoreapp3.1/sbtopicreceiver.runtimeconfig.dev.json
ServiceBus/sbtopicreceiver/bin/Debug/netcoreapp3.1/sbtopicreceiver.runtimeconfig.json
ServiceBus/sbtopicreceiver/bin/Debug/netcoreapp3.1/System.IdentityModel.Tokens.Jwt.dll
ServiceBus/sbtopicreceiver/obj/project.assets.json
ServiceBus/sbtopicreceiver/obj/project.nuget.cache
ServiceBus/sbtopicreceiver/obj/sbtopicreceiver.csproj.nuget.dgspec.json
ServiceBus/sbtopicreceiver/obj/sbtopicreceiver.csproj.nuget.g.props
ServiceBus/sbtopicreceiver/obj/sbtopicreceiver.csproj.nuget.g.targets
ServiceBus/sbtopicreceiver/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
ServiceBus/sbtopicreceiver/obj/Debug/netcoreapp3.1/sbtopicreceiver.AssemblyInfo.cs
ServiceBus/sbtopicreceiver/obj/Debug/netcoreapp3.1/sbtopicreceiver.AssemblyInfoInputs.cache
ServiceBus/sbtopicreceiver/obj/Debug/netcoreapp3.1/sbtopicreceiver.assets.cache
ServiceBus/sbtopicreceiver/obj/Debug/netcoreapp3.1/sbtopicreceiver.csproj.CopyComplete
ServiceBus/sbtopicreceiver/obj/Debug/netcoreapp3.1/sbtopicreceiver.csproj.CoreCompileInputs.cache
ServiceBus/sbtopicreceiver/obj/Debug/netcoreapp3.1/sbtopicreceiver.csproj.FileListAbsolute.txt
ServiceBus/sbtopicreceiver/obj/Debug/netcoreapp3.1/sbtopicreceiver.csprojAssemblyReference.cache
ServiceBus/sbtopicreceiver/obj/Debug/netcoreapp3.1/sbtopicreceiver.dll
ServiceBus/sbtopicreceiver/obj/Debug/netcoreapp3.1/sbtopicreceiver.exe
ServiceBus/sbtopicreceiver/obj/Debug/netcoreapp3.1/sbtopicreceiver.genruntimeconfig.cache
ServiceBus/sbtopicreceiver/obj/Debug/netcoreapp3.1/sbtopicreceiver.pdb
ServiceBus/sbtopicsender/bin/Debug/netcoreapp3.1/Microsoft.Azure.Amqp.dll
ServiceBus/sbtopicsender/bin/Debug/netcoreapp3.1/Microsoft.Azure.ServiceBus.dll
ServiceBus/sbtopicsender/bin/Debug/netcoreapp3.1/Microsoft.Azure.Services.AppAuthentication.dll
ServiceBus/sbtopicsender/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Clients.ActiveDirectory.dll
ServiceBus/sbtopicsender/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Clients.ActiveDirectory.Platform.dll
ServiceBus/sbtopicsender/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.JsonWebTokens.dll
ServiceBus/sbtopicsender/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Logging.dll
ServiceBus/sbtopicsender/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Tokens.dll
ServiceBus/sbtopicsender/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
ServiceBus/sbtopicsender/bin/Debug/netcoreapp3.1/sbtopicsender.deps.json
ServiceBus/sbtopicsender/bin/Debug/netcoreapp3.1/sbtopicsender.dll
ServiceBus/sbtopicsender/bin/Debug/netcoreapp3.1/sbtopicsender.exe
ServiceBus/sbtopicsender/bin/Debug/netcoreapp3.1/sbtopicsender.pdb
ServiceBus/sbtopicsender/bin/Debug/netcoreapp3.1/sbtopicsender.runtimeconfig.dev.json
ServiceBus/sbtopicsender/bin/Debug/netcoreapp3.1/sbtopicsender.runtimeconfig.json
ServiceBus/sbtopicsender/bin/Debug/netcoreapp3.1/System.IdentityModel.Tokens.Jwt.dll
ServiceBus/sbtopicsender/obj/project.assets.json
ServiceBus/sbtopicsender/obj/project.nuget.cache
ServiceBus/sbtopicsender/obj/sbtopicsender.csproj.nuget.dgspec.json
ServiceBus/sbtopicsender/obj/sbtopicsender.csproj.nuget.g.props
ServiceBus/sbtopicsender/obj/sbtopicsender.csproj.nuget.g.targets
ServiceBus/sbtopicsender/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
ServiceBus/sbtopicsender/obj/Debug/netcoreapp3.1/sbtopicsender.AssemblyInfo.cs
ServiceBus/sbtopicsender/obj/Debug/netcoreapp3.1/sbtopicsender.AssemblyInfoInputs.cache
ServiceBus/sbtopicsender/obj/Debug/netcoreapp3.1/sbtopicsender.assets.cache
ServiceBus/sbtopicsender/obj/Debug/netcoreapp3.1/sbtopicsender.csproj.CopyComplete
ServiceBus/sbtopicsender/obj/Debug/netcoreapp3.1/sbtopicsender.csproj.CoreCompileInputs.cache
ServiceBus/sbtopicsender/obj/Debug/netcoreapp3.1/sbtopicsender.csproj.FileListAbsolute.txt
ServiceBus/sbtopicsender/obj/Debug/netcoreapp3.1/sbtopicsender.csprojAssemblyReference.cache
ServiceBus/sbtopicsender/obj/Debug/netcoreapp3.1/sbtopicsender.dll
ServiceBus/sbtopicsender/obj/Debug/netcoreapp3.1/sbtopicsender.exe
ServiceBus/sbtopicsender/obj/Debug/netcoreapp3.1/sbtopicsender.genruntimeconfig.cache
ServiceBus/sbtopicsender/obj/Debug/netcoreapp3.1/sbtopicsender.pdb
