QueueApp/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
QueueApp/bin/Debug/netcoreapp3.1/QueueApp.deps.json
QueueApp/bin/Debug/netcoreapp3.1/QueueApp.dll
QueueApp/bin/Debug/netcoreapp3.1/QueueApp.exe
QueueApp/bin/Debug/netcoreapp3.1/QueueApp.pdb
QueueApp/bin/Debug/netcoreapp3.1/QueueApp.runtimeconfig.dev.json
QueueApp/bin/Debug/netcoreapp3.1/QueueApp.runtimeconfig.json
QueueApp/obj/project.assets.json
QueueApp/obj/project.nuget.cache
QueueApp/obj/QueueApp.csproj.nuget.dgspec.json
QueueApp/obj/QueueApp.csproj.nuget.g.props
QueueApp/obj/QueueApp.csproj.nuget.g.targets
QueueApp/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
QueueApp/obj/Debug/netcoreapp3.1/QueueApp.AssemblyInfo.cs
QueueApp/obj/Debug/netcoreapp3.1/QueueApp.AssemblyInfoInputs.cache
QueueApp/obj/Debug/netcoreapp3.1/QueueApp.assets.cache
QueueApp/obj/Debug/netcoreapp3.1/QueueApp.csproj.CopyComplete
QueueApp/obj/Debug/netcoreapp3.1/QueueApp.csproj.CoreCompileInputs.cache
QueueApp/obj/Debug/netcoreapp3.1/QueueApp.csproj.FileListAbsolute.txt
QueueApp/obj/Debug/netcoreapp3.1/QueueApp.csprojAssemblyReference.cache
QueueApp/obj/Debug/netcoreapp3.1/QueueApp.dll
QueueApp/obj/Debug/netcoreapp3.1/QueueApp.exe
QueueApp/obj/Debug/netcoreapp3.1/QueueApp.genruntimeconfig.cache
QueueApp/obj/Debug/netcoreapp3.1/QueueApp.pdb